h2 {
    color: #555555;
    background-color: rgb(43, 170, 106);
}
button {
color: magenta;
background-color: cyan;
}

p {
color: olive;
    background-color: orange;
}
body {
    background-color: #555555;
}